body {
  font-family: Arial;
  background: #f5f7fb;
}

.container {
  text-align: center;
  margin-top: 60px;
}

.create-btn {
  padding: 14px 28px;
  font-size: 18px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
}

.modal-box {
  background: white;
  width: 400px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
}
